<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>312931418962-1vksgig3dahvrlb895ucph4qoo679o65.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.312931418962-1vksgig3dahvrlb895ucph4qoo679o65</string>
	<key>API_KEY</key>
	<string>AIzaSyDYiMcKgZK0e6taJKOxM42zInr9ZIKqMsI</string>
	<key>GCM_SENDER_ID</key>
	<string>312931418962</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.qresent</string>
	<key>PROJECT_ID</key>
	<string>qresent-29065</string>
	<key>STORAGE_BUCKET</key>
	<string>qresent-29065.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:312931418962:ios:49b7d62e03abbbfc41b08b</string>
</dict>
</plist>